Django~=3.2.4
websocket~=0.2.1
websocket-client~=1.1.0
requests~=2.24.0
twilio~=6.45.0
colorama~=0.4.3
bs4~=0.0.1
beautifulsoup4~=4.9.1
idna~=2.8
cryptography~=3.4.7
channels~=3.0.4
psutil~=5.7.2
reportlab~=3.5.34
folium~=0.12.1
ipinfo~=4.2.0
pyexiftool~=0.1.1
django-axes
lxml
scikit-image==0.17.2
imutils==0.5.3
opencv-python==4.4.0.42
django-environ-0.9.0
