
    <!-- Header -->
    <div class="header  pb-8 pt-5 pt-md-8" style="background-image: linear-gradient(to right, #252525 , #30BBD2);">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-1 col-lg-">
              </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Bot Status</h5>
                      <span class="h2 font-weight-bold mb-0" id="Bot_Status">Initiallizing...</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fas fa-robot"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                  <b><span class="text-primary mr-2" id = "Bot_Status_Stat">Bot is waiting for command.....!!</span></b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Total Websites in Scan</h5>
                      <span class="h2 font-weight-bold mb-0" id="Total_Scanning_stats">Initiallizing...</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                        <i class="fas fa-search"></i>
                        <i class="ionicons ion-ios-search-strong"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap" id="Last_Config_stats">Initiallizing...</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Scans Per Minute</h5>
                      <span class="h2 font-weight-bold mb-0" id="Scan_per_minutes">Initiallizing...</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                        <i class="fas fa-users"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap" id="Bot_Status_Stat_again">Initiallizing...</span>
                  </p>
                </div>
              </div>
            </div>
            <!--
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">HDD Utilized</h5>
                      <span class="h2 font-weight-bold mb-0" id="HDD_Total_Used">Initiallizing...</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                        <i class="fas fa-hdd"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-nowrap" id="HDD_Stats">Initiallizing...</span>
                  </p>
                </div>
              </div>
            </div>
            -->

          </div>
        </div>
      </div>
    </div>
