{% extends "base_site_auth.html" %}

{% block title %} Login {% endblock title %}

{% block content %}
<div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">

              <div class="text-muted text-center mt-2 mb-3">


                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                <span>
                   Dashboard
                  <br />

                </span>
                {% endif %}
                    <h2>You have been blocked due to incorrect password attempts.</h2>
                  <h3>Please try after 24 hours.</h3>
              </div>

            </div>
            <div class="card-body px-lg-5 py-lg-5">

               <form method="post" text-align="center">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log In" class="btn btn-lg btn-primary btn-block">
         </form>

            </div>
          </div>
          <div class="row mt-3 text-center">
            <div class="col-12">
              <a href="register" class="text-light"><small>Create new account</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}


